<div class="header_main">
  <div class="welcome">
  <div *ngIf="!registerMode" style="text-align: center">
    <p>Free Your Fridge</p>
    <div class="content">
      <h1>Welcome to the website that will help you
      conjure up the products that you currently
      have culinary wonders and will also take
      care of yours regime</h1>
    <div class="text-center">
      <button class="btn btn-warning btn-lg" (click)="registerToggle()">Register</button>
    </div>
  </div>
</div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
</div>

