.header_main {
    position: relative;
    height: 60vh;
    text-align: center;
    color: rgb(255, 227, 102);
}

.header_main > * {
    position: absolute;
}
.header_main .welcome {
    top: 15%;
    left: 25%;
    right: 25%;
    padding: 15px;
    -moz-box-shadow: inset 100px 100px 100px rgb(7, 7, 7);
    -webkit-box-shadow: inset 100px 100px 100px rgb(14, 13, 13);
    box-shadow: inset 100px 100px 100px rgb(20, 20, 20);
    border-radius: 15px;
}
.header_main p {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 227, 102);
    text-transform: uppercase;
}

.header_main content {
    font-family: 'Red Rose', cursive;
}

.header_main h1 {
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.header_main h2 {
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: white;
}