################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
FreeYourFridge.API/FreeYourFridge.db
