<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Rate the dish</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <p>How good is that? </p>

<ngb-rating [(rate)]="rating">
  <ng-template let-fill="fill" let-index="index">
    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
  </ng-template>
</ngb-rating>
<hr>
<pre>Rate: <b>{{rating}}</b></pre>
  <button (click)="passBack(rating)" type="submit" class="btn btn-primary w-100">Vote</button>
  </div>
