<div class="card mb-3 mt-3" style="max-width: 540px;">
  <div class="row no-gutters ml-2">
    <div class="col-md-4 my-auto">
      <img src="{{favoured.image}}" class="card-img" alt="{{favoured.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{favoured.title}}</h5>
        <p class="card-text">Score: {{favoured.score}}</p>
        <p class="card-text"><small class="text-muted">Create Time{{favoured.createTime}}</small></p>

          <button class="btn-group center no p-0 btn-block parent-background">
            <button class="btn btn-success">Info</button>
            <button class="btn btn-danger">Remove</button>
          </button>

      </div>
    </div>
  </div>
</div>
