*{
    padding:0;
    box-sizing: border-box;
}

body {
    align-items: center;
    background-size: cover;
    background: url("/assets/image/background.jpg")no-repeat center center fixed;
    height: 1200px;
}
