<div class="container">
    <div class="userContent">
    <div class=column>
        <div class="rowUser"><img src="../assets/image/user.jpg"></div>
    </div>
    <div class="column">
        <div class="rowUser">Daily Calories Intake: {{user.dailyDemand}} kcal</div>
        <div class="rowUser">carbohydrates : {{user.carbohydrates}} g</div>
        <div class="rowUser">fats : {{user.fats}} g</div>
        <div class="rowUser">protein : {{user.protein}} g</div>
    </div>
    </div>
    <div class="userContent">
        <div class=column>
            <div class="rowUser">Username : {{user.username}}</div>
            <div class="rowUser">Email : {{user.email}}</div>
            <div class="rowUser">Gender : {{user.gender}}</div>
            <div class="rowUser">Age : {{user.age}}</div>
            <div class="rowUser">Weight : {{user.weight}}</div>
            <div class="rowUser">Height : {{user.height}}</div>
        </div>
        <div class=column>
            <div class="rowUser">Description :
                {{user.description}}</div>
        </div>
    </div>
</div>

