
.container{
<<<<<<< HEAD
  background: #2c2b2bd5;
  height: 100;
  width: 70%;
=======
  background: #1f1e1ed9;
  height: 100;
  width: 80%;
>>>>>>> Merge/feature-user-with-feature-recpices
  margin-top: 5%;
}

.userContent{
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  width: 90%;
  display: flex;
}
.userContent .column{
  flex: 50%;
  padding: 20px;
}

.container .userContent .rowUser{
<<<<<<< HEAD
  font-size: 20px;
  text-align: justify;
}
=======
  font-size: 22px;
  text-align: justify;
}
>>>>>>> Merge/feature-user-with-feature-recpices
