<div class="container">
    <div class="userContent">
    <div class=column>
        <div class="rowUser"><img src="../assets/image/user.jpg"></div>
    </div>
    <div class="column">
        <div class="rowUser">kcal : 1500</div>
        <div class="rowUser">carbohydrates : 190 g</div>
        <div class="rowUser">fats : 40 g</div>
        <div class="rowUser">protein : 90 g</div>
    </div>
    </div>
    <div class="userContent">
        <div class=column>
            <div class="rowUser">Username : {{user.username}}</div>
            <div class="rowUser">Gender : {{user.gender}}</div>
            <div class="rowUser">Age : 25</div>
            <div class="rowUser">Weight : {{user.weight}}</div>
            <div class="rowUser">Height : {{user.height}}</div>
        </div>
        <div class=column> 
            <div class="rowUser">Descripton : 
                Hi, I'm {{user.username}}. I love vegetarian dishes, especially chickpea chops. I'm allergic to gluten and lactose, but sometimes I go for a small dose of milk with my coffee</div>
        </div>
    </div>
</div>

