
<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-warning">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" reguired name="username" [(ngModel)]="model.username" placeholder="Username">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" reguired name="password" [(ngModel)]="model.password" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" reguired name="email" [(ngModel)]="model.email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" reguired name="gender" [(ngModel)]="model.gender" placeholder="Gender">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" reguired name="age" [(ngModel)]="model.age" placeholder="Age">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" reguired name="weight" [(ngModel)]="model.weight" placeholder="Weight">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" reguired name="height" [(ngModel)]="model.height" placeholder="Height">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-warning btn-lg" type="submit">Register</button>
    <button class="btn btn-warning btn-lg mt-3" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>

