<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <div class="shopTable">
  <table class="table table-hover table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Unit</th>
        <th scope="col">Bought</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
        <tbody>
          <tr *ngFor="let ingredient of toDoItems; let i = index">
            <td>{{i+1}}</td>
            <td><img src="{{ingredient.image}}" alt="{{ingredient.image}}"></td>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.amount}}</td>
            <td>{{ingredient.unit}}</td>
            <td><button class="btn btn-success mr-2" (click)="buyTask(toDoItem)">Add to fridge</button></td>
            <td><button class="btn btn-danger" (click)="deleteTask(toDoItem.spoonacularId)">Remove</button></td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
