<div class="container">
    <div *ngIf="editForm.dirty" class="alert">
        <div class="alert-info">
            <p>You have made changes. Any unsaved changes will be lost</p>
        </div>
    </div>
    <div class="userContent">
        <div class=column>
            <div class="rowUser"><img src="../assets/image/user.jpg"></div>
        </div>
        <div class="column">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                <div class="rowUser">kcal :</div>
                <textarea name="dailyDemand" rows="1" class="form-control" [(ngModel)]="user.dailyDemand"></textarea>
                <div class="rowUser">carbohydrates :</div>
                <textarea name="carbohydrates" rows="1" class="form-control"
                    [(ngModel)]="user.carbohydrates"></textarea>
                <div class="rowUser">fats :</div>
                <textarea name="fats" rows="1" class="form-control" [(ngModel)]="user.fats"></textarea>
                <div class="rowUser">protein :</div>
                <textarea name="protein" rows="1" class="form-control" [(ngModel)]="user.protein"></textarea>
                <div class="rowUser">Level of activity:</div>
                <select name="activityLevel" rows="1" class="form-control" [(ngModel)]="user.activityLevel">
                    <option [value]=0>Low</option>
                    <option [value]=1>Medium</option>
                    <option [value]=2>High</option>
                </select>
            </form>
        </div>
    </div>
    <div class="userContent">
        <div class=column>
            <div class="rowUser">Username : {{user.username}}</div>
            <div class="rowUser">Email : {{user.email}}</div>
            <div class="rowUser">Gender : {{user.gender}}</div>
            <div class="rowUser">Age : {{user.age}}</div>
            <div class="rowUser">Weight : {{user.weight}}</div>
            <div class="rowUser">Height : {{user.height}}</div>
        </div>
        <div class=column>
            <div class="rowUser">Description : {{user.description}}</div>
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-succes btn-block mt-4">SAVE
                CHANGES</button>
        </div>
    </div>
</div>
