<div class="container mt-4">
  <div class="row">
    <h1>{{user.username}}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top imt-thumbnail" src="/assets/image/cupcake.jpg" alt="{{user.username}}">
        <div class="card-body">
          <div>
            <strong>Gender:</strong>
            <p>{{user.gender}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Weight:</strong>
            <p>{{user.weight}}</p>
          </div>
          <div>
            <strong>Height:</strong>
            <p>{{user.height}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>