<div class="container">
  <div class="userContent">
    <div class=column>
        <div class="rowUser"><img src="../assets/image/user.jpg"></div>
        <button type="button" class="btn btn-success ml-3 mt-4">Add new Ingredient</button>
    </div>
    <div class="column">
      <div class="none" *ngIf="fridge">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Unit</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
            <tbody>
              <tr *ngFor="let ingredient of fridge.listIgredients; let i = index">
                <td>{{i+1}}</td>
                <td>{{ingredient.name}}</td>
                <td>{{ingredient.amount}}</td>
                <td>{{ingredient.unit}}</td>
                <td><button type="button" class="btn btn-warning">Update</button></td>
                <td><button type="button" class="btn btn-danger" (click)="deleteIngredient(ingredient.id)">Delete</button></td>
            </tr>
            </tbody>
      </table>
    </div>
    </div>
</div>
