.form-inline{
  margin: auto;
  width: 100%;
  padding: 10px;
  justify-content: center;
  -moz-box-shadow: inset 100px 100px 100px rgb(7, 7, 7);
  -webkit-box-shadow: inset 100px 100px 100px rgb(14, 13, 13);
  box-shadow: inset 100px 100px 100px rgb(20, 20, 20);
}
.form-group {
  padding: 10px;
}
.button{
  padding:10px;
}
