<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail"
             src="{{ recipe?.photoUrl }}"
             alt="{{ recipe?.title }}" />
        <div class="card-body">
          <div class="mb-4">
            <strong>Ready in: {{ recipe?.title }}</strong>
          </div>
          <div class="mb-4">
            <strong>Ready in: {{ recipe?.readyInMinutes }}</strong>
          </div>
          <div class="mb-4">
            <strong>Score: {{ recipe?.spoonacularScore }}</strong>
          </div>
          <div>
            <strong>Calories: {{ recipe?.calories}} kcal </strong>
          </div>
          <div>Carbs: {{recipe?.carbs}}</div>
          <div>Fat: {{recipe?.fat}}</div>
          <div>Protein: {{recipe?.protein}}</div>
        </div>
        <div class="card-footer">

          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="g">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" >

          <tab heading="Instruction">
            <div class="card">
              <ul>

            <li *ngFor="let instruciton of instructions">{{instruciton.number+". "+instruciton.step}}</li>
              </ul>
            </div>
          </tab>
          <tab heading="Ingredients">
            <div>Missed Ingredients</div>
            <!-- <div class="card" id="scroll" [innerHTML]="slideHtml"></div> -->
          </tab>

          <tab heading="Notes">
            <button class="btn btn-danger" (click)=justTest()>click me</button>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
