<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ recipeToDetail?.image }}"
          alt="{{ recipeToDetail?.title }}"
        />
        <div class="card-body">
          <div class="mb-4">
            <strong>Ready in: {{ recipeToDetail?.title }}</strong>
          </div>
          <div class="mb-4">
            <strong>Ready in: {{ recipeToDetail?.readyInMinutes }}</strong>
          </div>
          <div class="mb-4">
            <strong>Score: {{ recipeToDetail?.spoonacularScore }}</strong>
          </div>
          <div>
            <strong>Calories: {{ nutritions?.calories }} kcal </strong>
          </div>
          <div class="mb-4">
            <div>Carbs: {{ nutritions?.carbs }}</div>
            <div>Fat: {{ nutritions?.fat }}</div>
            <div>Protein: {{ nutritions?.protein }}</div>
          </div>
        </div>
        <div class="card-footer">
          <form #f="ngForm" (ngSubmit)="addMeal(f.value)" novalidate>
            <!-- <div *ngIf="editMode"> -->
            <input name="spoonacularId" type="hidden" ngModel="{{ recipeToList.id }}" />
            <div class="input-group">
              <input class="form-control" name="grams" reguired type="text" ngModel />
              <button class="btn btn-secondary" type="submit">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Instruction">
            <div class="card noHover">
              <ul class="list-group-item">
                <li
                  class="list-group-item noHover"
                  *ngFor="let instruciton of instructions"
                >
                  {{ instruciton.number + ". " + instruciton.step }}
                </li>
              </ul>
            </div>
          </tab>
          <tab heading="Ingredients">
            <!-- <div class="card noHover"> -->
              <div class="card">
              <div *ngIf="recipeToList != undefined">
                <ul class="list-group-item">
                  <h4>
                    <span class="badge badge-secondary"
                      >Missed Ingredients</span
                    >
                  </h4>
                  <div
                    class="flex-space-between"
                    *ngFor="
                      let missedIngredient of recipeToList.missedIngredients
                    "
                  >
                    <li class="list-group-item noHover noBoard">
                      {{
                        missedIngredient?.amount +
                          " " +
                          missedIngredient?.unit +
                          " " +
                          missedIngredient?.name
                      }}
                    </li>

                    <form #f="ngForm" (ngSubmit)="addIngredientToShoppingList(f.value)" novalidate>
                      <!-- <div *ngIf="editMode"> -->
                      <input name="spoonacularId" type="hidden" ngModel="{{ missedIngredient.id }}" />
                      <input name="amount" type="hidden" ngModel="{{ missedIngredient.amount }}" />
                      <input name="name" type="hidden" ngModel="{{ missedIngredient.name }}" />
                      <input name="unit" type="hidden" ngModel="{{ missedIngredient.unit }}" />
                      <button type="button" type="submit" class="btn btn-success">
                        Shop list
                      </button>
                    </form>

                  </div>
                </ul>
                <ul class="list-group-item">
                  <h4>
                    <span class="badge badge-secondary">In your frige</span>
                  </h4>
                  <li
                    class="list-group-item noHover noBoard"
                    *ngFor="let usedIngredient of recipeToList?.usedIngredients"
                  >
                    {{ usedIngredient?.name }}
                  </li>
                </ul>
              </div>
            </div>
          </tab>

          <!-- <tab heading="Notes"> </tab> -->
        </tabset>
      </div>
    </div>
  </div>
</div>
