<div class="container">
  <div class="userContent">
    <div class=column *ngIf="listOfIngredients">
      <div class="rowHeader">Add New Ingredient</div>
        <form class="formClass" #editForm="ngForm" id="editForm" (ngSubmit)="addIngredient()">
          <div class="rowUser">Name Ingredient :</div>
          <div class="row">
            <div class="col-md-12">
                  <select name="originalName" [(ngModel)]="SelIngredientName" (change)="FillUnits();" class="form-control">
                    <option>Select Ingredient</option>
                    <option *ngFor="let ingredientName of listOfIngredients" [value]="ingredientName['id']">{{ingredientName['originalName']}}</option>
                </select>
            </div>
          </div>
          <div class="rowUser">Amount :</div>
          <textarea name="amount" rows="1" class="form-control" [(ngModel)]="ingredientToApi.amount"></textarea>
          <div class="rowUser">Unit :</div>
          <div class="row">
            <div class="col-md-12">
                  <select name="unit" [(ngModel)]="ingredientToApi.unit" class="form-control">
                    <option>Select unit</option>
                    <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
                </select>
            </div>
          </div>
          <div class=column>
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-succes btn-block mt-4">SAVE CHANGES</button>
        </div>
      </form>
    </div>
  </div>
</div>
